/* reg*/

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
    src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf");
}

#sign-up {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 30%;
}

fieldset {
    text-align: center;
    background-color: #C6BEB5;
    border: 2px solid rgb(16, 6, 66);
}

.div-box {
    margin: 5px;
    padding: 5px;
}

#close1 {
    margin-top: -59px;
    margin-right: 4px;
    float: right;
    width: 30px;
    cursor: pointer;
}

label {
    float: left;
    margin-left: 33px;
}

#email {
    width: 80%;
}

#password1,
#repPass,
#username1 {
    display: block;
    margin: auto;
    width: 80%;
}

#submit {
    font-size: 1.2em;
}

.text-content {
    text-decoration: none;
    color: red;
}

#errorUserReg {
    font-size: 0.8em;
    display: none;
    float: left;
    margin-left: 57px;
}

#errorPass {
    font-size: 0.8em;
    float: left;
    margin-left: 10%;
    width: 80%;
    text-align: justify;
}