/* login*/
@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
    src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf");
}
fieldset {
    text-align: center;
    background-color: #C6BEB5;
}

.div-box {
    margin: 5px;
    padding: 5px;
}

label {
    text-align: right;
}

#username,
#password {
    display: block;
    margin: auto;
    width: 80%;
}

/*#sign-in {
   
}*/
#sign-in{
     display: none;
    margin: auto;
    /*opacity: 0.9;*/

}
#sign-in>form{
/*width: 30%;*/
}
#close{
    margin-top: -59px;
    margin-right: 4px;
    float:right;
    width: 40px;
    cursor: pointer;
}
#submit {
    font-size: 1.2em;
}
#fbl-btn {
    background-color: #455ea1;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1px 6px;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    color: white;
}

.text-content {
    text-decoration: none;
    color: red;
}

#error{
    display: none;
    font-size: 0.8em;
    color: red;
}