@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
    src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf");
}

body {
    background-color: grey;
    font-family: 'Fira Sans Extra Condensed';
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}


/* header */

header {
    background-color: #C6BEB5;
}

header>div>canvas {
    margin-left: 12px;
    height:160px;
    width: 160px;
}
header>div>h1 {
position: absolute;
    top: 60px;
    left: 588px;
    color: #6B0000;
}

header>nav {
    padding: 0 11px;
}

header>nav>ul {
    background-color: rgb(16, 6, 66);
    text-align: center;
    line-height: 30px;
}

header>nav>ul>li {
    display: inline-block;
    width: 12%;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

header>nav>ul>li>span {
    color: rgb(255, 177, 0);
}

header>nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

header>nav>ul>li>a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(225, 156, 0);
}

header>div>ul {
    float: right;
    margin: 45px 40px 0 0;
}


/* searching in header */

#search-img {
    width: 21px;
}

#search-box {
    border: 1px solid black;
}

#search-input {
    border: none;
    font-weight: normal;
    font-size: 0.8em;
    height: 26px;
    float: left;
}

#search-box>button {
    background-color: white;
    border: none;
    height: 26px;
}

#search-box>span {
    padding: 3px 8px;
    border: 1px solid white;
    background-color: #6B0000;
    color: white;
}

#search-box>span:hover {
    padding: 3px 8px;
    border: 1px solid rgb(225, 156, 0);
    background-color: #6B0000;
    color: rgb(225, 156, 0);
}


/* .................... */

header>div>ul>li>span {
    color: rgb(225, 156, 0);
}

header>div>ul>li {
    display: list-item;
    float: left;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 0 10px;
    cursor: pointer;
    border-right: 1px dashed white;
    padding: 0 12px 0;
}

header>div>ul>li:last-child {
    border-right: none;
}
/* main */
main {
    background-color: #C6BEB5;
    margin-top: -10px;
}

#container {
    width: 95%;
    margin: auto;
    padding: 20px 0 0 0;
    /*background-color: #6B0000;*/
}
#container>h2{
color: #fff;
    font-weight: bold;
    padding: 0 0 0 5%;
}

#container>.carousel {
    width: 100%;
}

.news-box {
    width: 47%;
    display: inline-block;
    height: 197px;
    margin: 0 10px;
    cursor: pointer;
}

.news-box>img {
    width: 100%;
    height: 100%;
}

.news-box>p {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: -50px;
    color: white;
    text-align: justify;
    height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

#novini {
    display: inline-block;
    width: 100%;
    /*background-color: #6B0000;*/
    margin-top: 45px;
}

#section-content {
    display: inline-block;
    width: 73%;
}

#novini>section {
    display: inline-block;
    width: 100%;
    float: left;
}

#content {
    background-color: #6B0000;
    width: 98%;
    margin: auto;
}

#content>aside {
    width: 27%;
    float: right;
    margin-top: 45px;
    padding-right: 10px;
}

#nav-aside-sort {
    text-align: center;
    margin: 0;
}

#nav-aside-sort>li {
    padding-left: 5.4%;
    padding-right: 5.5%;
}

.aside-sort-content {
    background-color: #C6BEB5;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    line-height: 40px;
}

.aside-sort-content-on {
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    line-height: 40px;
    padding-bottom: 5px;
    background-color: #94908B;
    font-weight: bold;
}

#aside-sort>div>p>span {
    font-size: 1em;
    padding: 10px 2px;
    margin: 0 15px 10px 1px;
    border: 1px solid #fff;
    float: left;
    background-color: #6B0000;
    color: #fff;
    box-sizing: content-box;
    border-radius: 50%;
}

#aside-sort>div>p {
    text-align: left;
    height: 62px;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bolder;
}

#aside-content {
    background-color: #94908B;
    padding: 10px;
}


/*carousel ->>>>*/

.item {
    display: inline-block;
    width: 100%;
}

.carousel-image {
    float: left;
    width: 25%;
    margin: 0 30px;
}

.carousel-image:first-child {
    margin-left: 51px;
}

.carousel-image>img {
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.carousel-image>p {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: left;
    height: 40px;
    margin: 0;
}

.big-news-box {
    background-color: #C6BEB5;
    text-align: left;
    width: 97%;
    float: left;
    margin-left: 10px;
}

.big-news-box>img {
    width: 98%;
    display: block;
    margin: auto;
}

.found-news {
    cursor: pointer;
}


/* footer */

footer {
    background-color: #C6BEB5;
}

.social-icons {
    display: inline-block;
    width: 70%;
    margin: 3% 0 3% 20%;
}

.icon-sprite {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 8%;
    border: 1px solid black;
}

#twitter-sprite {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: -50px 46px;
}

#twitter-sprite:hover {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: -50px 0px;
}

#facebook-sprite {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 327px 46px;
}

#facebook-sprite:hover {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 327px 0px;
}

#google-sprite {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 45px 46px;
}

#google-sprite:hover {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 45px 0px;
}

#instagram-sprite {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 187px 45px;
}

#instagram-sprite:hover {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 187px -2px;
}

#youtube-sprite {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: -96px 45px;
}

#youtube-sprite:hover {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: -96px -2px;
}

#linkedin-sprite {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 140px 44px;
}

#linkedin-sprite:hover {
    background-image: url("iconos-sociales.png");
    background-size: 330px;
    background-position: 140px -2px;
}

.icon-sprite>span {
    color: grey;
    display: block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 50px;
    left: -12px;
    text-decoration: none;
}

.icon-sprite>span:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer-copyright>ul {
    display: inline-block;
    width: 100%;
    background-color: black;
    padding: 5px;
    box-sizing: border-box;
}

.footer-copyright>ul>li {
    display: list-item;
    float: left;
    font-size: 1em;
    cursor: pointer;
    padding: 0 10px;
    border-right: 1px solid white;
}

.footer-copyright>ul>li:last-child {
    border-right: none;
}

.footer-copyright>ul>li>a {
    text-decoration: none;
    color: white;
}

.footer-copyright>ul>li>a:hover {
    text-decoration: none;
    color: rgba(248, 206, 17, 0.8);
    cursor: pointer;
}

#userIn {
    /*display: none;*/
    font-size: 0.8em;
    color: #6B0000;
}


/* css for searching box */

#search-content {
    background-color: #C6BEB5;
    display: none;
    width: 80%;
    margin-top: 44px;
    margin: 6% auto;
}

#search-content>h2 {
    padding: 20px 0 0 20px;
    text-align: center;
    margin-top: 0;
}

#search-content>form {
    /* width: 75%; */
    padding: 0 0 20px 20px;
}

#search-content>form>div>div {
    display: inline-block;
    width: 30%;
}

#search-content>form>div>label {
    width: 35%;
}

#search-input-text {
    width: 260px;
    height: 30px;
}

#search-content>form>div>select {
    width: 260px;
    height: 30px;
}

#search-but {
    display: block;
    margin: 0 auto;
}

#info-for-search {
    background-color: white;
    padding: 20px 10px;
}

#search-result-mini {
    background-color: white;
}

#search-result-mini>article {
    border-top: 2px dotted #6B0000;
    border-bottom: 2px dotted #6B0000;
    margin-top: 5px;
}

#search-result-mini>article:first-of-type {
    margin-top: 0;
}

#search-result-mini>article>div {
    padding: 20px 10px;
}